.mat-form-field {
    display: block !important;
}

.txt-align-center {
    text-align: center;
}

::ng-deep {
    .mat-dialog-container {
        width: 300px;
    }
}

.error-message {
    color: red;
    margin-bottom: 15px;
}
